[submodule "content"]
	path = content
	url = https://github.com/site-0003/content.git
[submodule "themes/ui-custom"]
	path = themes/ui-custom
	url = https://github.com/site-0003/ui-custom.git
[submodule "themes/ui-blog"]
	path = themes/ui-blog
	url = https://github.com/pkgstore/hugo-ui-blog.git
[submodule "themes/ui-shortcode"]
	path = themes/ui-shortcode
	url = https://github.com/pkgstore/hugo-ui-shortcode.git
